[submodule "sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "fruitchip-fw-apps/ps2bbl"]
	path = fruitchip-fw-apps/ps2bbl
	url = https://github.com/israpps/PlayStation2-Basic-BootLoader.git
[submodule "fruitchip-fw-apps/osdmenu"]
	path = fruitchip-fw-apps/osdmenu
	url = https://github.com/pcm720/OSDMenu.git
[submodule "fruitchip-fw-apps/ps2link"]
	path = fruitchip-fw-apps/ps2link
	url = https://github.com/ps2dev/ps2link.git
[submodule "fruitchip-menu/lib/mlib"]
	path = fruitchip-menu/lib/mlib
	url = https://github.com/P-p-H-d/mlib.git
